---
import Layout from "../layouts/Layout.astro"

import Hero from "../components/Hero.astro"
import HeroImage from "../assets/Home/HeroImage.svg"

import Section from "../components/Section.astro"

// First Section Assets
import FirstSectionImage from "../assets/Home/FirstSection/SectionImage.svg"
import IconOne from "../assets/Home/FirstSection/SectionIcon-One.svg"
import IconTwo from "../assets/Home/FirstSection/SectionIcon-Two.svg"
import IconThree from "../assets/Home/FirstSection/SectionIcon-Three.svg"
import IconFour from "../assets/Home/FirstSection/SectionIcon-Four.svg"
// Second Section Assets
import SecImageOne from "../assets/Home/SecondSection/Image-One.svg"
import SecImageTwo from "../assets/Home/SecondSection/Image-Two.svg"

import Social from "../components/Social.astro"
import SocialPerson from "../assets/Home/SocialSection/Person.svg"

// ThirdSection
import ThirdSectionImage from "../assets/Home/ThirdSection/SectionImage.svg"

import LastHero from "../assets/Home/LastHero.svg"

import Footer  from "../components/Footer.astro"

const FirstHero = {
    statement: "A Easy-To-Use Landing Page And Institutional Site Template",
    title:
    "Predictable, Fast In Development And Dynamic Astro-Based Site Builder",
    content:
    "As a developer, use design known and attractive patterns for sections, heroes and other components with properties that hold content to your liking, facilitating building a great site with speed in mind.",
    imageUrl: HeroImage,
    imageAlt: "A notebook and cellphone with geometric elements.",
    buttonPath: "https://github.com/ThiagoThalisson/LPISTemplate",
    buttonContent: "Use It now",
}

const FirstSection = [
    {
	title: "What Is Great About This Project You Ask",
	imageUrl: FirstSectionImage,
	imageAlt: "A very big cellphone with empty fields.",
    },
    {
	title: "No Arbitrary Styles",
	content:
	"Built based on a set of design patterns and rules to make every single page component styling consistent and enjoyable in terms of user experience. Better yet, it’s based on TailwindCSS!",
	imageUrl: IconOne,
	imageAlt: "A paintbrush icon.",
    },
    {
	title: "Follows Core Web Quality Principles",
	content:
	"Has a SEO component, performs well using Astro that eliminates excessive JS, it’s accessible and extremely responsive.",
	imageUrl: IconTwo,
	imageAlt: "A checkmark icon that assures quality.",
    },
    {
	title: "Components Based In Variants To Ease Development",
	content:
	"A lot of essential web everyday present pre-made components and a Figma-inspired variant system to make it super convenient to populate unique content in them while changing content structure.",
	imageUrl: IconThree,
	imageAlt: "A list with a plus sign.",
    },
    {
	title: "Uses The Best Astro Has To Offer",
	content:
	"Features view transitions, image optimizations, i18n implementation, islands and more, ensure your end-user has a more rich experience, balancing functionality to style.",
	imageUrl: IconFour,
	imageAlt: "A at symbol as a icon.",
    },
] 

const SecondSection = [
    {
	title: "Kill Deadlines Like Never Before",
	content:
	"Time is a extremely valuable resource from everyone, it needs to be used wisely, for that reason, turn your competition into dust by using a template that gives you everything you need, now you’ll only worry about creation solutions.",
	imageUrl: SecImageOne,
	imageAlt: "Someone adjusting deadlines on a calendar.",
	buttonContent: "Read Docs",
	buttonPath:
	"https://atomicfeast.notion.site/About-The-Project-edae7b76933147b9b96063646e87c61d?pvs=4",
    },
    {
	title: "It Gives You Flexibility Other Templates Don’t",
	content:
	"Filled with variables and multiple options there is no way that you will not found great combinations that differs from the rest even if comparing with the template itself. Astro let’s you use other libraries and frameworks so you’re not that limited as you think.",
	imageUrl: SecImageTwo,
	imageAlt: "Proud programmer sitting in a desk at the side.",
	buttonContent: "Learn Astro",
	buttonPath: "https://docs.astro.build/en/getting-started/",
    },
]

const ThirdSection = {
    title: "Created From A Phantom Pain.",
    content:
    "A template that aims to fix the hurdles of web development. Meeting basic quality expectations and making new components and designs from zero every time shouldn’t be a thing, use a viable stack instead.",
    imageUrl: ThirdSectionImage,
    imageAlt: "Person's icon.",
}

const SocialContent = [
    {
	title: "Thiago",
	content: "Simply what one the best Astro templates there is. (Based)",
	imageUrl: SocialPerson,
	imageAlt: "Person's icon.",
    },
    {
	title: "Vitor",
	content: "Yes, i agree and approve everything that other guy said.",
	imageUrl: SocialPerson,
	imageAlt: "Person's icon.",
    },
    {
	title: "Phoenix",
	content: "I’m their lawyer, they mean presumably.",
	imageUrl: SocialPerson,
	imageAlt: "Person's icon.",
    },
]

const SecondHero = {
    statement: "Don’t Think Twice",
    title: "It’s Time To Truly Improve Your Developing Experience!",
    content:
    "Stop using other bloated templates, use the essentials and go beyond using your skills.",
    imageUrl: LastHero,
    imageAlt: "A notebook and cellphone with geometric elements.",
    buttonPath: "https://github.com/ThiagoThalisson/LPISTemplate",
    buttonContent: "Get LPIS Now!",
}
---

<Layout
  title="Landing Page and Institucional Site template."
  description="A dynamic Astro SSG template to help freelancers around the world."
>
  <main transition:animate="slide" class="flex flex-col mt-[72px]">
    <Hero variant="hero-three" hero={FirstHero} />
    <Section variant="section-ten" section={FirstSection} />
    <Section classVariant="sectionHighlight" variant="section-three" section={SecondSection} />
    <Social
      variant="social-three"
      classVariant="withBackground"
      social={SocialContent}
    />
    <Section classVariant="sectionHighlight" variant="section-seven" section={ThirdSection} />
    <Hero variant="hero-four" hero={SecondHero} />
  </main>
  <Footer/>
</Layout>
