---
import myImage from "../assets/laptop.jpg"
import { Image } from "astro:assets"
import Button from "./Button.astro"
import type { BaseInterface } from "../common/base.type"

// type Props = BaseInterface & CardProps
// type CardProps =
//   | {
//       variant:
//         | "card-one"
//         | "card-two"
//         | "card-three"
//         | "card-four"
//         | "card-six"
//         | "card-seven"
//       imageUrl: string
//       imageAlt: string
//     }
//   | {
//       variant: "card-five"
//       imageUrl?: string
//       imageAlt?: string
//     }

const { variant, classVariant, title, content, statement, imageUrl, imageAlt } =
  Astro.props

type TextRightType = {
  classList: {
    [className: string]: boolean
  }
}
type Props = {
  variant?: string
  classVariant?: string
  statement?: string
  title: string
  content: string
  imageUrl: ImageMetadata
  imageAlt: string
}

export const CardContent: Props = {
  title: "Test",
  content: "Another content test",
  imageUrl: myImage,
  imageAlt: "",
}

const textRight: TextRightType = {
  classList: {
    "text-right md:text-left": classVariant?.includes("rightText") ?? false,
  },
}
---

<div class="flex flex-col md:flex-row">
  {
    [
      variant?.includes("card-one") && (
        <div
          class="flex flex-col md:flex-row gap-3 md:gap-8"
          class:list={{
            "flex-col-reverse md:flex-row-reverse":
              classVariant?.includes("reversed"),
          }}
        >
          <Image
            class:list={{
              "rounded-lg": classVariant?.includes("lgRounded"),
              "rounded-full": classVariant?.includes("fullRounded"),
              "w-full object-fit": classVariant?.includes("fullWidth"),
            }}
            width={500}
            height={500}
            src={CardContent.imageUrl}
            quality={100}
            alt={CardContent.imageAlt}
          />
          <div class="w-full flex flex-col gap-3">
            <h2>{CardContent.title}</h2>
            <p>{CardContent.content}</p>
            <Button
              variant="call-to-action"
              link="./"
              content="Link"
              classVariant="rounded-full"
            />
          </div>
        </div>
      ),
      variant?.includes("card-two") && (
        <div class="flex flex-col gap-3">
          <h2 class="text-center">{title}</h2>
          <div class="flex flex-col gap-3 md:flex-row">
            <p>{content}</p>
            <p>{content}</p>
          </div>
          <Image
            class:list={{
              "rounded-lg": classVariant?.includes("lgRounded"),
              "rounded-full": classVariant?.includes("fullRounded"),
              "w-full object-fit": classVariant?.includes("fullWidth"),
            }}
            width={768}
            height={512}
            src={imageUrl}
            quality={100}
            alt={imageAlt}
          />
        </div>
      ),
      variant?.includes("card-three") && (
        <div
          class="flex flex-col md:flex-row gap-4 md:gap-8"
          class:list={{
            "flex-col-reverse md:flex-row-reverse":
              classVariant?.includes("reversed"),
            "md:flex-row-reverse": classVariant?.includes("sectionReversed"),
          }}
        >
          <div class="w-full flex flex-col gap-4">
            <p class="!text-accent-base" class:list={textRight.classList}>
              {statement}
            </p>
            <h2 class:list={textRight.classList}>{CardContent.title}</h2>
            <p class:list={textRight.classList}>{CardContent.content}</p>
          </div>
          <Image
            class:list={{
              "rounded-lg": classVariant?.includes("lgRounded"),
              "rounded-full": classVariant?.includes("fullRounded"),
              "w-full object-fit": classVariant?.includes("fullWidth"),
            }}
            width={500}
            height={500}
            src={CardContent.imageUrl}
            quality={100}
            alt={CardContent.imageAlt}
          />
        </div>
      ),
      variant?.includes("card-four") && (
        <div class="flex flex-col items-center md:items-start gap-4">
          <h2>{title}</h2>
          <Image
            class:list={{
              "rounded-lg": classVariant?.includes("lgRounded"),
              "rounded-full": classVariant?.includes("fullRounded"),
              "w-full object-fit": classVariant?.includes("fullWidth"),
            }}
            width={500}
            height={500}
            src={CardContent.imageUrl}
            quality={100}
            alt={CardContent.imageAlt}
          />
        </div>
      ),
      variant?.includes("card-five") && (
        <div class="flex flex-col gap-4 md:gap-6">
          <h2>{CardContent.title}</h2>
          <p>{CardContent.content}</p>
        </div>
      ),
      variant?.includes("card-six") && (
        <div class="flex flex-col gap-4 md:gap-6 items-center">
          <Image
            class:list={{
              "rounded-lg": classVariant?.includes("lgRounded"),
              "rounded-full": classVariant?.includes("fullRounded"),
              "w-full object-fit": classVariant?.includes("fullWidth"),
            }}
            width={500}
            height={500}
            src={CardContent.imageUrl}
            quality={100}
            alt={CardContent.imageAlt}
          />

          <h2 class="text-center">{title}</h2>
          <p class="text-center">{content}</p>
        </div>
      ),
      variant?.includes("card-seven") && (
        <div class="flex flex-col md:items-center gap-4">
          <div class="flex md:flex-col gap-4 md:gap-6 items-center">
            <Image
              class:list={{
                "rounded-lg": classVariant?.includes("lgRounded"),
                "rounded-full": classVariant?.includes("fullRounded"),
                "w-full object-fit": classVariant?.includes("fullWidth"),
              }}
              width={56}
              height={56}
              src={CardContent.imageUrl}
              quality={100}
              alt={CardContent.imageAlt}
            />
            <h3 class="text-center">{CardContent.title}</h3>
          </div>
          <p class="md:text-center">{CardContent.content}</p>
        </div>
      ),
    ]
  }
</div>
