---
import ImageBlock from "./ImageBlock.astro"
import Button from "./Button.astro"
import type { Props as BaseProps } from "../BaseProps"

// interface Props extends BaseProps {
//   imageUrl?: string
//   imageAlt?: string
// }
type Props = BaseProps & CardProps
type CardProps =
  | {
      variant:
        | "card-one"
        | "card-two"
        | "card-three"
        | "card-four"
        | "card-six"
        | "card-seven"
      imageUrl: string
      imageAlt: string
    }
  | {
      variant: "card-five"
      imageUrl?: string
      imageAlt?: string
    }

const { variant, classVariant, title, content, statement, imageUrl, imageAlt } =
  Astro.props

type TextRightType = {
  classList: {
    [className: string]: boolean
  }
}

const textRight: TextRightType = {
  classList: {
    "text-right md:text-left": classVariant?.includes("rightText") ?? false,
  },
}
---

<div class="flex flex-col md:flex-row">
  {
    [
      variant?.includes("card-one") && (
        <div
          class="flex flex-col md:flex-row gap-3 md:gap-8"
          class:list={{
            "flex-col-reverse md:flex-row-reverse":
              classVariant?.includes("reversed"),
          }}
        >
          <ImageBlock
            classVariant="fullWidth"
            imageWidth={768}
            imageHeight={512}
            imageUrl={imageUrl!}
            imageAlt={imageAlt!}
          />
          <div class="w-full flex flex-col gap-3">
            <h2>{title}</h2>
            <p>{content}</p>
            <Button
              variant="call-to-action"
              link="./"
              content="Link"
              classVariant="rounded-full"
            />
          </div>
        </div>
      ),
      variant?.includes("card-two") && (
        <div class="flex flex-col gap-3">
          <h2 class="text-center">{title}</h2>
          <div class="flex flex-col gap-3 md:flex-row">
            <p>{content}</p>
            <p>{content}</p>
          </div>
          <ImageBlock
            classVariant="fullWidth"
            imageWidth={768}
            imageHeight={512}
            imageUrl="./laptop.jpg"
            imageAlt="A laptop."
          />
        </div>
      ),
      variant?.includes("card-three") && (
        <div
          class="flex flex-col md:flex-row gap-4 md:gap-8"
          class:list={{
            "flex-col-reverse md:flex-row-reverse":
              classVariant?.includes("reversed"),
            "md:flex-row-reverse": classVariant?.includes("sectionReversed"),
          }}
        >
          <div class="w-full flex flex-col gap-4">
            <p class="!text-accent-base" class:list={textRight.classList}>
              {statement}
            </p>
            <h2 class:list={textRight.classList}>{title}</h2>
            <p class:list={textRight.classList}>{content}</p>
          </div>
          <ImageBlock
            classVariant="fullWidth"
            imageWidth={768}
            imageHeight={512}
            imageUrl="./laptop.jpg"
            imageAlt="A laptop."
          />
        </div>
      ),
      variant?.includes("card-four") && (
        <div class="flex flex-col items-center md:items-start gap-4">
          <h2>{title}</h2>
          <ImageBlock
            classVariant="fullWidth"
            imageWidth={1920}
            imageHeight={800}
            imageUrl="./laptop.jpg"
            imageAlt="A laptop."
          />
        </div>
      ),
      variant?.includes("card-five") && (
        <div class="flex flex-col gap-4 md:gap-6">
          <h2>{title}</h2>
          <p>{content}</p>
        </div>
      ),
      variant?.includes("card-six") && (
        <div class="flex flex-col gap-4 md:gap-6 items-center">
          <ImageBlock
            imageWidth={250}
            imageHeight={250}
            imageUrl={imageUrl!}
            imageAlt="A laptop."
          />
          <h2 class="text-center">{title}</h2>
          <p class="text-center">{content}</p>
        </div>
      ),
      variant?.includes("card-seven") && (
        <div class="flex flex-col md:items-center gap-4">
          <div class="flex md:flex-col gap-4 md:gap-6 items-center">
            <ImageBlock
              imageWidth={56}
              imageHeight={56}
              imageUrl="./laptop.jpg"
              imageAlt="A laptop."
            />
            <h3 class="text-center">{title}</h3>
          </div>
          <p class="md:text-center">{content}</p>
        </div>
      ),
    ]
  }
</div>
