---
import type { ImageTypes } from "../common/image.type"
import type { BaseInterface } from "../common/base.interface"

type Props = BaseInterface & HeroTypes
type HeroTypes = {
  hero: ImageTypes
  secondaryTitle?: string
}

const { variant, classVariant } = Astro.props
const hero = Astro.props.hero as any

import Button from "./Button.astro"
import ImageBlock from "./ImageBlock.astro"
---

<div>
  {
    [
      variant?.includes("hero-one") && (
        <div class="flex flex-col items-center relative py-8 lg:py-12 px-6 gap-6 lg:gap-8">
          <ImageBlock
            classVariant="spanAbsolute fullWidth lowBrightness"
            imageWidth={900}
            imageHeight={600}
            {...hero}
          />
          <div class="flex flex-col gap-4 lg:gap-3">
            <div class="flex flex-col gap-2">
              <p class="font-bold text-accent-light text-center">
                {hero.statement}
              </p>
              <h1 class="text-dark-title text-center">{hero.title}</h1>
            </div>
            <p class="text-dark-paragraph text-center">{hero.content}</p>
          </div>
          <Button
            variant="call-to-action"
            link={hero.buttonPath}
            content={hero.buttonContent}
            classVariant="filledLgRounded"
          />
        </div>
      ),
      variant?.includes("hero-two") && (
        <div
          class="flex items-center gap-8 lg:gap-20 py-8 lg:py-16 px-6 lg:max-w-screen-xl m-auto"
          class:list={{
            "flex-col lg:flex-row": classVariant?.includes("default"),
            "flex-col-reverse lg:flex-row-reverse":
              classVariant?.includes("reversed"),
          }}
        >
          <div class="w-full flex flex-col gap-4 lg:gap-6 py-6">
            <div class="flex flex-col gap-2">
              <p class="font-bold !text-accent-base">{hero.statement}</p>
              <h1>{hero.title}</h1>
              <p>{hero.content}</p>
            </div>
            <Button
              classVariant="filledLgRounded"
              variant="call-to-action"
              link={hero.buttonPath}
              content={hero.buttonContent}
            />
          </div>
          <ImageBlock
            classVariant="lgRounded"
            imageWidth={500}
            imageHeight={500}
            {...hero}
          />
        </div>
      ),
      variant?.includes("hero-three") && (
        <div
          class="flex flex-col lg:flex-row items-center gap-0 lg:gap-20"
          class:list={{
            "flex-col-reverse lg:flex-row-reverse":
              classVariant?.includes("reversed"),
          }}
        >
          <div class="w-full flex flex-col gap-4 lg:gap-8 px-6 lg:px-10 lg:px-16 py-8">
            <div class="flex flex-col gap-2 ">
              <p class="font-bold !text-accent-base">{hero.statement}</p>
              <h1>{hero.title}</h1>
              <p>{hero.content}</p>
            </div>

            <Button
              classVariant="filledLgRounded"
              variant="call-to-action"
              link={hero.buttonPath}
              content={hero.buttonContent}
            />
          </div>
          <ImageBlock
            classVariant="fullWidth"
            imageWidth={960}
            imageHeight={540}
            {...hero}
          />
        </div>
      ),
      variant?.includes("hero-four") && (
        <div class="lg:max-w-screen-xl m-auto flex items-center flex-col gap-6 lg:gap-8 px-6 py-6 lg:py-16">
          <div class="w-full flex flex-col items-center gap-6 lg:gap-8">
            <div class="flex flex-col items-center gap-2">
              <p class="font-bold !text-accent-base">{hero.statement}</p>
              <h1 class="text-center">{hero.title}</h1>
              <p class="text-center">{hero.content}</p>
            </div>
            <Button
              classVariant="filledLgRounded"
              variant="call-to-action"
              link={hero.buttonPath}
              content={hero.buttonContent}
            />
          </div>
          <ImageBlock
            classVariant="lgRounded"
            imageWidth={600}
            imageHeight={200}
            {...hero}
          />
        </div>
      ),
      variant?.includes("hero-five") && (
        <div class="lg:max-w-screen-xl m-auto flex items-center flex-col gap-4 lg:gap-8 px-6 py-6 lg:py-16">
          <div class="w-full flex-col lg:flex-row flex justify-between lg:px-16 gap-2">
            <ImageBlock
              classVariant="lgRounded"
              imageWidth={285}
              imageHeight={200}
              {...hero[1]}
            />
            <ImageBlock
              classVariant="lgRounded"
              imageWidth={285}
              imageHeight={200}
              {...hero[1]}
            />
          </div>
          <div class="w-full flex flex-col items-center gap-6 lg:gap-8">
            <div class="flex flex-col gap-3">
              <p class="font-bold !text-accent-base text-center">
                {hero.statement[0]}
              </p>
              <h1 class="text-center">{hero.title[0]}</h1>
              <p class="text-center">{hero.content[0]}</p>
            </div>
            <Button
              classVariant="filledLgRounded"
              variant="call-to-action"
              link={hero.buttonPath[0]}
              content={hero.buttonContent[0]}
            />
          </div>
          <div class="w-full flex-col lg:flex-row flex justify-between lg:px-16 gap-2">
            <ImageBlock
              classVariant="lgRounded"
              imageWidth={285}
              imageHeight={200}
              {...hero[2]}
            />
            <ImageBlock
              classVariant="lgRounded"
              imageWidth={285}
              imageHeight={200}
              {...hero[2]}
            />
          </div>
        </div>
      ),
      variant?.includes("hero-six") && (
        <div class="flex items-center flex-col gap-4 lg:gap-8 px-6 py-6 lg:py-16 lg:max-w-screen-xl m-auto">
          <div class="w-full flex flex-col lg:flex-row gap-3 lg:gap-8">
            <h1>{hero.title}</h1>
            <div class="flex flex-col gap-3">
              <p>{hero.content}</p>
              <Button
                classVariant="filledLgRounded"
                variant="call-to-action"
                content={hero.buttonContent}
                link={hero.buttonPath}
              />
            </div>
          </div>
          <ImageBlock
            classVariant="lgRounded"
            imageWidth={500}
            imageHeight={500}
            {...hero}
          />
        </div>
      ),
      variant?.includes("hero-seven") && (
        <div class="flex items-center flex-col gap-6 lg:gap-8 px-6 py-6 lg:py-16">
          <h1 class="font-light">{hero.title}</h1>
          <div class="w-full flex flex-col items-center lg:flex-row gap-3 lg:gap-8">
            <ImageBlock
              classVariant="lgRounded"
              imageWidth={500}
              imageHeight={500}
              {...hero}
            />
            <ImageBlock
              classVariant="lgRounded"
              imageWidth={500}
              imageHeight={500}
              {...hero}
            />
            <div class="w-full flex flex-col gap-3 lg:gap-6">
              <h2 class="font-body">{hero.secondaryTitle}</h2>
              <p>{hero.content}</p>
              <Button
                classVariant="filledLgRounded"
                variant="call-to-action"
                content="Call To Action"
              />
            </div>
          </div>
        </div>
      ),
    ]
  }
</div>
