---
type Props = {
  variant?: string
  classVariant?: string
  statement?: string
  title: string
  content: string
  imageUrl: ImageMetadata
  imageAlt: string
  secondaryTitle?: string
}

export const HeroContent: Props = {
  title: "Example",
  content: "Example Content",
  imageAlt: "This is my image alt",
  imageUrl: myImage,
}

const { variant, classVariant, statement } = Astro.props

import Button from "./Button.astro"

import myImage from "../assets/laptop.jpg"
import { Image } from "astro:assets"
---

<div class="mt-[72px]">
  {
    [
      variant?.includes("hero-one") && (
        <div class="flex flex-col items-center relative py-12 px-6 gap-6 md:gap-8 ">
          <Image
            class:list={{
              "rounded-lg": classVariant?.includes("lgRounded"),
              "rounded-full": classVariant?.includes("fullRounded"),
              "w-full object-fit": classVariant?.includes("fullWidth"),
            }}
            width={500}
            height={500}
            src={HeroContent.imageUrl}
            quality={100}
            alt={HeroContent.imageAlt}
          />
          <div class="flex flex-col gap-4 md:gap-3">
            <div class="flex flex-col gap-2">
              <p class="font-bold !text-accent-light text-center">
                {HeroContent.statement}
              </p>
              <h1 class="!text-dark-title text-center">{HeroContent.title}</h1>
            </div>
            <p class="!text-dark-paragraph text-center">
              {HeroContent.content}
            </p>
          </div>
          <Button
            variant="call-to-action"
            link="./"
            content="Link"
            classVariant="rounded-full"
          />
        </div>
      ),
      variant?.includes("hero-two") && (
        <div
          class="flex items-center gap-4 md:gap-8 px-6 md:py-16 md:max-w-5xl m-auto"
          class:list={{
            "flex-col md:flex-row": classVariant?.includes("default"),
            "flex-col-reverse md:flex-row-reverse":
              classVariant?.includes("reversed"),
          }}
        >
          <div class="w-full flex flex-col gap-4 md:gap-6 py-6">
            <div class="flex flex-col gap-2">
              <p class="font-bold !text-accent-base">{HeroContent.statement}</p>
              <h1>{HeroContent.title}</h1>
              <p>{HeroContent.content}</p>
            </div>

            <Button
              classVariant="filledLgRounded"
              variant="call-to-action"
              content="Call To Action"
            />
          </div>
          <Image
            class:list={{
              "rounded-lg": classVariant?.includes("lgRounded"),
              "rounded-full": classVariant?.includes("fullRounded"),
              "w-full object-fit": classVariant?.includes("fullWidth"),
            }}
            width={500}
            height={500}
            src={HeroContent.imageUrl}
            quality={100}
            alt={HeroContent.imageAlt}
          />
        </div>
      ),
      variant?.includes("hero-three") && (
        <div
          class="flex flex-col md:flex-row items-center gap-4 md:gap-8"
          class:list={{
            "flex-col-reverse md:flex-row-reverse":
              classVariant?.includes("reversed"),
          }}
        >
          <div class="w-full flex flex-col gap-4 md:gap-8 px-6 md:px-10 lg:px-16 py-8">
            <div class="flex flex-col gap-2 ">
              <p class="font-bold !text-accent-base">{HeroContent.statement}</p>
              <h1>{HeroContent.title}</h1>
              <p>{HeroContent.content}</p>
            </div>

            <Button
              classVariant="filledLgRounded"
              variant="call-to-action"
              content="Call To Action"
            />
          </div>
        </div>
      ),
      variant?.includes("hero-four") && (
        <div class="flex items-center flex-col gap-6 md:gap-8 px-6 py-6 md:py-16 md:max-w-5xl m-auto">
          <div class="w-full flex flex-col items-center gap-6 md:gap-8">
            <div class="flex flex-col items-center gap-2">
              <p class="font-bold !text-accent-base">{HeroContent.statement}</p>
              <h1>{HeroContent.title}</h1>
              <p>{HeroContent.content}</p>
            </div>

            <Button
              classVariant="filledLgRounded"
              variant="call-to-action"
              content="Call To Action"
            />
          </div>
          <Image
            class:list={{
              "rounded-lg": classVariant?.includes("lgRounded"),
              "rounded-full": classVariant?.includes("fullRounded"),
              "w-full object-fit": classVariant?.includes("fullWidth"),
            }}
            width={800}
            height={350}
            src={HeroContent.imageUrl}
            quality={100}
            alt={HeroContent.imageAlt}
          />
        </div>
      ),
      variant?.includes("hero-five") && (
        <div class="flex items-center flex-col gap-4 md:gap-8 px-6 py-6 md:py-16 md:max-w-5xl m-auto">
          <div class="w-full flex-col md:flex-row flex justify-between md:px-16 gap-2">
            <Image
              class:list={{
                "rounded-lg": classVariant?.includes("lgRounded"),
                "rounded-full": classVariant?.includes("fullRounded"),
                "w-full object-fit": classVariant?.includes("fullWidth"),
              }}
              width={500}
              height={500}
              src={HeroContent.imageUrl}
              quality={100}
              alt={HeroContent.imageAlt}
            />
            <Image
              class:list={{
                "rounded-lg": classVariant?.includes("lgRounded"),
                "rounded-full": classVariant?.includes("fullRounded"),
                "w-full object-fit": classVariant?.includes("fullWidth"),
              }}
              width={500}
              height={500}
              src={HeroContent.imageUrl}
              quality={100}
              alt={HeroContent.imageAlt}
            />
          </div>
          <div class="w-full flex flex-col items-center gap-6 md:gap-8">
            <div class="flex flex-col gap-3">
              <p class="font-bold !text-accent-base text-center">{statement}</p>
              <h1 class="text-center">{HeroContent.title}</h1>
              <p class="text-center">{HeroContent.content}</p>
            </div>

            <Button
              classVariant="filledLgRounded"
              variant="call-to-action"
              content="Call To Action"
            />
          </div>
          <div class="w-full flex-col md:flex-row flex justify-between md:px-16 gap-2">
            <Image
              class:list={{
                "rounded-lg": classVariant?.includes("lgRounded"),
                "rounded-full": classVariant?.includes("fullRounded"),
                "w-full object-fit": classVariant?.includes("fullWidth"),
              }}
              width={500}
              height={500}
              src={HeroContent.imageUrl}
              quality={100}
              alt={HeroContent.imageAlt}
            />
            <Image
              class:list={{
                "rounded-lg": classVariant?.includes("lgRounded"),
                "rounded-full": classVariant?.includes("fullRounded"),
                "w-full object-fit": classVariant?.includes("fullWidth"),
              }}
              width={500}
              height={500}
              src={HeroContent.imageUrl}
              quality={100}
              alt={HeroContent.imageAlt}
            />
          </div>
        </div>
      ),
      variant?.includes("hero-six") && (
        <div class="flex items-center flex-col gap-4 md:gap-8 px-6 py-6 md:py-16 md:max-w-5xl m-auto">
          <div class="w-full flex flex-col md:flex-row gap-3 md:gap-8">
            <h1>{HeroContent.title}</h1>
            <div class="flex flex-col gap-3">
              <p>{HeroContent.content}</p>
              <Button
                classVariant="filledLgRounded"
                variant="call-to-action"
                content="Call To Action"
              />
            </div>
          </div>
          <Image
            class:list={{
              "rounded-lg": classVariant?.includes("lgRounded"),
              "rounded-full": classVariant?.includes("fullRounded"),
              "w-full object-fit": classVariant?.includes("fullWidth"),
            }}
            width={500}
            height={500}
            src={HeroContent.imageUrl}
            quality={100}
            alt={HeroContent.imageAlt}
          />
        </div>
      ),
      variant?.includes("hero-seven") && (
        <div class="flex items-center flex-col gap-6 md:gap-8 px-6 py-6 md:py-16">
          <h1 class="font-light">{HeroContent.title}</h1>
          <div class="w-full flex flex-col items-center md:flex-row gap-3 md:gap-8">
            <Image
              class:list={{
                "rounded-lg": classVariant?.includes("lgRounded"),
                "rounded-full": classVariant?.includes("fullRounded"),
                "w-full object-fit": classVariant?.includes("fullWidth"),
              }}
              width={500}
              height={500}
              src={HeroContent.imageUrl}
              quality={100}
              alt={HeroContent.imageAlt}
            />
            <Image
              class:list={{
                "rounded-lg": classVariant?.includes("lgRounded"),
                "rounded-full": classVariant?.includes("fullRounded"),
                "w-full object-fit": classVariant?.includes("fullWidth"),
              }}
              width={500}
              height={500}
              src={HeroContent.imageUrl}
              quality={100}
              alt={HeroContent.imageAlt}
            />
            <div class="w-full flex flex-col gap-3 md:gap-6">
              <h2 class="font-body">{HeroContent.secondaryTitle}</h2>
              <p>{HeroContent.content}</p>
              <Button
                classVariant="filledLgRounded"
                variant="call-to-action"
                content="Call To Action"
              />
            </div>
          </div>
        </div>
      ),
    ]
  }
</div>
