---
import Button from "./Button.astro"
import ImageBlock from "./ImageBlock.astro"

const { variant } = Astro.props

export interface Props {
  variant: string
  heroStatement: string
  heroTitle: string
  heroDescription: string
}
---

<div class="mt-[72px]">
  {
    [
      variant?.includes("hero-one") && (
        <div class="flex flex-col md:flex-row gap-8">
          <div class="w-full flex flex-col gap-6">
            <div class="flex flex-col gap-2">
              <p class="font-bold text-secondary-base">
                {Astro.props.heroStatement}
              </p>
              <h1>{Astro.props.heroTitle}</h1>
            </div>
            <p>{Astro.props.heroDescription}</p>

            <Button classVariant="filledLgRounded" variant="call-to-action" />
          </div>
          <ImageBlock
            classVariant="fullWidth lgRounded"
            imageWidth={500}
            imageHeight={500}
            imageUrl="./laptop.jpg"
            imageFormat="jpg"
            imageAlt="Laptop photo."
          />
        </div>
      ),

      variant?.includes("hero-two") && (
        <div class="flex flex-col items-center relative py-12 px-6 gap-6 md:gap-8">
          <img
            class="object-cover absolute inset-0 w-full h-full z-[-10] brightness-50"
            src="./laptop.jpg"
            alt=""
          />
          <div class="flex flex-col gap-4 md:gap-3">
            <div class="flex flex-col gap-2">
              <p class="font-bold !text-accent-light">
                {Astro.props.heroStatement}
              </p>
              <h1 class="!text-dark-title">{Astro.props.heroTitle}</h1>
            </div>
            <p class="!text-dark-paragraph">{Astro.props.heroDescription}</p>
          </div>
          <Button
            variant="call-to-action"
            link="./"
            content="Link"
            classVariant="rounded-full"
          />
        </div>
      ),
    ]
  }
</div>
