---
import type { BaseInterface } from "../common/base.interface"
import type { ImageTypes } from "../common/image.type"

interface Props extends BaseInterface, ImageTypes {
    imageWidth: number
    imageHeight: number
}

const { classVariant, imageUrl, imageWidth, imageHeight, imageAlt } =
Astro.props

import { Image } from "astro:assets"
---

<div
    class:list={[
	   `flex items-center justify-center !w-[${imageWidth}px] !h-[${imageHeight}px]`,
	   classVariant?.includes("fullWidth") && "w-full",
	   classVariant?.includes("flexStart") && "!justify-start",
	   classVariant?.includes("flexEnd") && "!justify-end",
	   classVariant?.includes("lowBrightness") && "brightness-50",
	   classVariant?.includes("spanAbsolute") && "absolute w-full h-full inset-0 z-[-1]",
	   ]}
    class:list={`!w-[${imageWidth}px] !h-[${imageHeight}px]`}
>
    {
    (
    <Image
        class:list={[
		   `!w-[${imageWidth}px] !h-[${imageHeight}px]`,
		   classVariant?.includes("lgRounded") && "rounded-lg",
		   classVariant?.includes("fullRounded") && "rounded-full",
		   classVariant?.includes("fullWidth") && "w-full object-fit",
		   classVariant?.includes("flexNone") && "flex-none",
		   classVariant?.includes("spanAbsolute") && "absolute w-full h-full inset-0 object-cover",
		   ]}
        width={imageWidth}
        height={imageHeight}
        src={imageUrl}
        quality={100}
        alt={imageAlt}
    />
    )
    }
</div>
