---
// So not be confused with Image.astro integrated images.

import type { Props as BaseProps } from "../BaseProps"

interface Props extends BaseProps {
  imageUrl: string
  imageWidth: number
  imageHeight: number
  imageAlt: string
}

const { classVariant, imageUrl, imageWidth, imageHeight, imageAlt } =
  Astro.props

import { Image } from "astro:assets"
---

<div
  class="flex justify-center"
  class:list={{
    "w-full": classVariant?.includes("fullWidth"),
    "!justify-start": classVariant?.includes("flexStart"),
    "!justify-end": classVariant?.includes("flexEnd"),
  }}
  class:list={`!w-[${imageWidth}px] !h-[${imageHeight}px]`}
>
  {
    (
      <Image
        class:list={{
          [`!w-[${imageWidth}px] !h-[${imageHeight}px]`]:
            classVariant?.includes("any"),
          "rounded-lg": classVariant?.includes("lgRounded"),
          "rounded-full": classVariant?.includes("fullRounded"),
          "w-full object-fit": classVariant?.includes("fullWidth"),
        }}
        width={imageWidth}
        height={imageHeight}
        src={imageUrl as string}
        quality={100}
        alt={imageAlt}
      />
    )
  }
</div>
