---
import type { BaseInterface } from "../common/base.type"
import type { ImageTypes } from "../common/image.type"

interface Props extends BaseInterface, ImageTypes {
  imageWidth: number
  imageHeight: number
}

const { classVariant, imageUrl, imageWidth, imageHeight, imageAlt } =
  Astro.props

import { Image } from "astro:assets"
let myImage = "../assets/laptop.jpg"
---

<div
  class="flex justify-center"
  class:list={{
    "w-full": classVariant?.includes("fullWidth"),
    "!justify-start": classVariant?.includes("flexStart"),
    "!justify-end": classVariant?.includes("flexEnd"),
  }}
  class:list={`!w-[${imageWidth}px] !h-[${imageHeight}px]`}
>
  {
    (
      <Image
        class:list={{
          [`!w-[${imageWidth}px] !h-[${imageHeight}px]`]:
            classVariant?.includes("any"),
          "rounded-lg": classVariant?.includes("lgRounded"),
          "rounded-full": classVariant?.includes("fullRounded"),
          "w-full object-fit": classVariant?.includes("fullWidth"),
        }}
        width={imageWidth}
        height={imageHeight}
        src={imageUrl}
        quality={100}
        alt={imageAlt}
      />
    )
  }
</div>
