---
import { Image } from "astro:assets"
import Button from "./Button.astro"
import type { BaseInterface } from "../common/base.type"

type Page = {
  name: string
  slug: string
  image: string
}

const pages: Page[] = [
  {
    name: "Home",
    slug: "/",
    image: "/icons/house.svg",
  },
  {
    name: "About",
    slug: "/about",
    image: "/icons/info.svg",
  },
  {
    name: "Contact",
    slug: "/contact",
    image: "/icons/phone.svg",
  },
]

const { variant } = Astro.props

interface Props extends BaseInterface {}
---

<nav class="flex justify-center items-center">
  {
    [
      variant?.includes("mobile") && (
        <div class="bg-slate-50 flex w-full justify-around fixed bottom-0 md:hidden">
          {pages.map((page) => (
            <div class="flex flex-col items-center">
              <Image
                width={32}
                height={32}
                src={page.image}
                quality={100}
                format="svg"
                alt="Ícone da navegação."
                class="h-8"
              />
              <a data-nav href={page.slug} class:list={""}>
                {page.name}
              </a>
            </div>
          ))}
        </div>
      ),
      variant?.includes("desktop") && (
        <div class="flex items-center max-w-screen-lg gap-3">
          {pages.map((page) => (
            <a
              data-nav
              href={page.slug}
              class:list={"hidden md:block px-4 py-2"}
            >
              {page.name}
            </a>
          ))}
          <Button
            classVariant="filledLgRounded"
            variant="call-to-action"
            content="Link"
            link="./"
          />
        </div>
      ),
    ]
  }
</nav>

<style>
  .selected-link {
    @apply !text-primary-base;
  }
</style>

<script defer>
  function main() {
    const pathname = location.pathname
    const links = document.querySelectorAll("nav a[data-nav]")

    links.forEach((link) => {
      if (link.pathname === pathname) {
        link.classList.add("selected-link")
      }
    })
  }

  document.addEventListener("DOMContentLoaded", main)
</script>
