---
import type { BaseInterface } from "../common/base.interface"
import type { ImageTypes } from "../common/image.type"

type Props = BaseInterface & SectionProps
type SectionProps =
| {
    variant:
    | "section-one"
    | "section-two"
    | "section-four"
    | "section-seven"
    | "section-nine"

    section: ImageTypes
}
| {
    variant:
    | "section-three"
    | "section-five"
    | "section-six"
    | "section-eight"
    | "section-nine"
    | "section-ten"
    | "section-eleven"
    | "section-twelve"

    section: ImageTypes[]
}

const { variant, classVariant } = Astro.props
const section = Astro.props.section as any

import Card from "../components/Card.astro"

import ImageBlock from "./ImageBlock.astro"
---

<section
    class:list={{
	       "bg-dark-fill text-dark-title": classVariant?.includes("sectionHighlight"),
	       }}
>
    {
    [
    variant?.includes("section-one") && (
    <div class="md:max-w-5xl m-auto flex flex-col gap-10 px-6 py-6 md:py-16">
        <Card variant="card-three" classVariant="reversed" {...section[0]} />
        <Card variant="card-three" {...section[1]} />
    </div>
    ),
    variant?.includes("section-two") && (
    <div class="md:max-w-5xl m-auto px-6 py-6 md:py-16">
        <Card variant="card-two" {...section} />
    </div>
    ),
    variant?.includes("section-three") && (
    <div class="md:max-w-5xl m-auto flex flex-col gap-8 items-center px-6 py-6 md:py-16">
        <Card variant="card-one" classVariant="reversed" {...section[0]} />
        <Card variant="card-one" {...section[1]} />
    </div>
    ),
    variant?.includes("section-four") && (
    <div class="md:max-w-5xl m-auto flex flex-col gap-4 px-6 py-6 md:py-16">
        <Card variant="card-four" {...section[0]} />
        <div class="flex flex-col md:flex-row">
            <Card classVariant="fullWidth" variant="card-five" {...section[1]} />
            <Card classVariant="fullWidth" variant="card-five" {...section[2]} />
        </div>
    </div>
    ),
    variant?.includes("section-five") && (
    <div class="md:max-w-5xl m-auto flex flex-col md:flex-row gap-8 px-6 py-6 md:py-16">
        {Array.isArray(section) &&
        section.map((props) => <Card variant="card-six" {...props} />)}
    </div>
    ),
    variant?.includes("section-six") && (
    <div class="md:max-w-5xl m-auto flex flex-col md:flex-row gap-8 px-6 py-6 md:py-16">
        {Array.isArray(section) &&
        section.map((props) => <Card variant="card-seven" {...props} />)}
    </div>
    ),
    variant?.includes("section-seven") && (
    <div
        class="md:max-w-5xl m-auto flex flex-col gap-6 md:gap-8 px-6 py-12 items-center py-6 md:py-16"
        class:list={{
               "flex flex-col-reverse": classVariant?.includes("reversed"),
               }}
    >
        <div>
            <ImageBlock
		classVariant="lgRounded"
			      imageWidth={400}
			      imageHeight={400}
			      {...section}
            />
        </div>
        <div class="flex flex-col gap-3">
            <h2 class="text-inherit md:text-center">{section.title}</h2>
            <p class="text-inherit md:text-center">{section.content}</p>
        </div>
    </div>
    ),
    variant?.includes("section-eight") && (
    <div class="md:max-w-5xl m-auto flex flex-col md:flex-row px-6 gap-1.5 md:gap-6 py-6 md:py-16">
        <div class="flex flex-col gap-3">
            <h2 class="text-inherit">{section.title}</h2>
            <p class="text-inherit">{section.content}</p>
        </div>
        <div class="flex gap-6 overflow-x-scroll px-6 py-3 snap-x snap-mandatory">
            <div class="flex-none w-9/12 snap-center">
		<ImageBlock
                    classVariant="fullWidth lgRounded"
                    imageWidth={253}
                    imageHeight={150}
                    {...section}
		/>
            </div>
            <div class="flex-none w-9/12  snap-center">
		<ImageBlock
                    classVariant="fullWidth lgRounded"
                    imageWidth={253}
                    imageHeight={150}
                    {...section}
		/>
            </div>
            <div class="flex-none w-9/12 snap-center">
		<ImageBlock
                    classVariant="fullWidth lgRounded"
                    imageWidth={253}
                    imageHeight={150}
                    {...section}
		/>
            </div>
        </div>
    </div>
    ),
    variant?.includes("section-nine") && (
    <div class="md:max-w-5xl m-auto flex flex-col md:flex-row gap-6 px-6 py-8 md:py-12 py-6 md:py-16">
        <div class="flex flex-col gap-6 w-full">
            <div class="flex flex-col gap-3">
		<h2 class="text-inherit">{section[0].title}</h2>
		<p class="text-inherit">{section[0].content}</p>
            </div>
            <div class="flex gap-4">
		<div class="flex flex-col gap-3 flex-1">
                    <ImageBlock
			classVariant="flexStart lgRounded"
				      imageWidth={72}
				      imageHeight={72}
				      {...section[1]}
                    />
                    <div class="flex flex-col gap-1">
			<h3 class="text-inherit">{section[1].title}</h3>
			<p class="text-inherit">{section[1].content}</p>
                    </div>
		</div>
		<div class="flex flex-col gap-3 flex-1">
                    <ImageBlock
			classVariant="flexStart lgRounded"
				      imageWidth={72}
				      imageHeight={72}
				      {...section[2]}
                    />
                    <div class="flex flex-col gap-1">
			<h3 class="text-inherit">{section[2].title}</h3>
			<p class="text-inherit">{section[2].content}</p>
                    </div>
		</div>
            </div>
        </div>
        <ImageBlock
            classVariant="lgRounded"
            imageWidth={390}
            imageHeight={600}
            {...section[0]}
        />
    </div>
    ),
    variant?.includes("section-ten") && (
    <div class="md:max-w-5xl m-auto flex items-center flex-col md:flex-row gap-6 md:gap-8 px-6 py-6 md:py-16">
        <ImageBlock
            classVariant="flexNone fullWidth"
            imageWidth={270}
            imageHeight={250}
            {...section[0]}
        />
        <div class="w-full flex flex-col gap-6">
            <h2 class="text-inherit">{section[0].title}</h2>
            <div class="flex gap-4 h-full">
		<div class="flex flex-col gap-3 items-center md:items-start flex-1">
                    <ImageBlock
			classVariant="flexStart lgRounded"
				      imageWidth={72}
				      imageHeight={72}
				      {...section[1]}
                    />
                    <div class="flex flex-col gap-1">
			<h3 class="text-inherit text-center md:text-left">{section[1].title}</h3>
			<p class="text-inherit text-center md:text-left">{section[1].content}</p>
                    </div>
		</div>
		<div class="flex flex-col items-center md:items-start gap-3 flex-1">
                    <ImageBlock
			classVariant="flexStart lgRounded"
				      imageWidth={72}
				      imageHeight={72}
				      {...section[2]}
                    />
                    <div class="flex flex-col gap-1">
			<h3 class="text-inherit text-center md:text-left">{section[2].title}</h3>
			<p class="text-inherit text-center md:text-left">{section[2].content}</p>
                    </div>
		</div>
            </div>
            <div class="flex gap-4 h-full">
		<div class="flex flex-col items-center md:items-start gap-3 flex-1">
                    <ImageBlock
			classVariant="flexStart lgRounded"
				      imageWidth={72}
				      imageHeight={72}
				      {...section[3]}
                    />
                    <div class="flex flex-col gap-1">
			<h3 class="text-inherit text-center md:text-left">{section[3].title}</h3>
			<p class="text-inherit text-center md:text-left">{section[3].content}</p>
                    </div>
		</div>
		<div class="flex flex-col items-center md:items-start gap-3 flex-1">
                    <ImageBlock
			classVariant="flexStart lgRounded"
				      imageWidth={72}
				      imageHeight={72}
				      {...section[4]}
                    />
                    <div class="flex flex-col gap-1">
			<h3 class="text-inherit text-center md:text-left">{section[4].title}</h3>
			<p class="text-inherit text-center md:text-left">{section[4].content}</p>
                    </div>
		</div>
            </div>
        </div>
    </div>
    ),
    variant?.includes("section-eleven") && (
    <div class="md:max-w-5xl m-auto flex flex-col gap-8 px-6 py-6 md:py-16">
        <p class="text-inherit">{section[0].statement}</p>
        <h2 class="text-inherit">{section[0].title}</h2>
        <Card variant="card-three" {...section[1]} />
        <Card
            variant="card-three"
            classVariant="sectionReversed"
            {...section[2]}
        />
        <Card variant="card-three" {...section[3]} />
    </div>
    ),

    variant?.includes("section-twelve") && (
    <div class="md:max-w-5xl m-auto flex flex-col gap-6 md:flex-row px-6 py-6 md:py-16">
        <div class="flex flex-col justify-center gap-4 w-full">
            <h1 class="text-inherit">{section[0].title}</h1>
            <p class="text-inherit">{section[0].content}</p>
        </div>
        <div class="grid grid-cols-2 gap-4 w-full">
            <div class="bg-light-foregroundFill flex flex-col items-center p-3 gap-2">
		<ImageBlock
                    classVariant="flexStart fullRounded"
                    imageWidth={56}
                    imageHeight={56}
                    {...section[1]}
		/>
		<h3 class="text-inherit text-center">{section[1].title}</h3>
		<p class="text-inherit text-center">{section[1].content}</p>
            </div>
            <div class="bg-light-foregroundFill flex flex-col items-center p-3 gap-2">
		<ImageBlock
                    classVariant="flexStart fullRounded"
                    imageWidth={56}
                    imageHeight={56}
                    {...section[1]}
		/>
		<h3 class="text-inherit text-center">{section[1].title}</h3>
		<p class="text-inherit text-center">{section[1].content}</p>
            </div>
            <div class="bg-light-foregroundFill flex flex-col items-center p-3 gap-2">
		<ImageBlock
                    classVariant="fullRounded fullWidth"
                    imageWidth={56}
                    imageHeight={56}
                    {...section[1]}
		/>
		<h3 class="text-center">{section[1].title}</h3>
		<p class="text-center">{section[1].content}</p>
            </div>
            <div class="bg-light-foregroundFill flex flex-col items-center p-3 gap-2">
		<ImageBlock
                    classVariant="flexStart fullRounded"
                    imageWidth={56}
                    imageHeight={56}
                    {...section[1]}
		/>
		<h3 class="text-inherit text-center">{section[1].title}</h3>
		<p class="text-inherit text-center">{section[1].content}</p>
            </div>
        </div>
    </div>
    ),
    ]
    }
</section>
